.logout {
    /* position: absolute; 
    top: 0;
    right: 0;*/
    margin: 4px;
    /* margin: 1rem; */
}

.top-right-a {
    position: absolute;
    top: 0;
    right: 0;
}

.p-6 {
    padding: 0.4rem;
}

.p-6 button {
    padding: 0.3rem;
}

.logout img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    padding-right: 0.6rem;
}